<%+cbi/valueheader%>

<div>
	<br />
	<br />
	<span style="text-align:center" >
		<font size="3" color="red" >
			WARNING:
		</font>
	</span>
	<br />
	<br />
	<span style="text-align:center" >
		<font size="3" color="red" >
			machine warranty will be voided once overclocking feature is enabled
		</font>
	</span>
	<br />
	<br />
	<span style="text-align:center" >
		<font size="3" color="red" >
			overclocking may cause the machine and power burned out
		</font>
	</span>
	<br />
	<br />
	<span style="text-align:center" >
		<font size="3" color="red" >
			confirm if you still would like to enable overclocking
		</font>
	</span>
	<br />
	<br />
</div>

<%+cbi/valuefooter%>
